#define ZMK_POINTING_DEFAULT_SCRL_VAL 240

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/* スクロール出力を細かい周期にする */
&msc {
    trigger-period-ms = <8>;
};

/ {
    behaviors {
        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;

            bindings = <&msc>, <&msc>;

            /*
             * 1ノッチのスクロールを約70msに分散。
             * 1発ドンではなく、細かく連続して出す。
             */
            tap-ms = <70>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A
                &kp B
                &kp C
                &kp D
                &kp E
                &kp F
            >;

            sensor-bindings = <
                &mouse_scrl SCRL_UP SCRL_DOWN
            >;
        };
    };
};
