#include <dt-bindings/zmk/matrix_transform.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";

        /*
         * 左3列 + 右3列
         *
         * row 0～2 = Charlieplex
         * row 3    = 専用BOOTボタン
         */
        columns = <6>;
        rows = <4>;

        /*
         * LEFT Charlieplex
         * local column 0～2
         *
         * RIGHT Charlieplex
         * col-offset = 3 により
         * local column 0～2 → global column 3～5
         *
         * BOOT
         * LEFT  = RC(3,0)
         * RIGHT = RC(3,3)
         */
        map = <
            /* LEFT */
            RC(0,1) RC(0,2)
            RC(1,0) RC(1,2)
            RC(2,0) RC(2,1)

            /* RIGHT */
            RC(0,4) RC(0,5)
            RC(1,3) RC(1,5)
            RC(2,3) RC(2,4)

            /* BOOT */
            RC(3,0)
            RC(3,3)
        >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Charlieplex Dual Test";
        transform = <&default_transform>;
    };

    /*
     * スクロールホイール
     */
    left_encoder: encoder_left {
        compatible = "alps,ec11";

        a-gpios = <&gpio0 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;

        steps = <24>;

        status = "disabled";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;

        triggers-per-rotation = <24>;
    };

    chosen {
        zmk,physical-layout = &physical_layout0;
    };
};
