#include "charybdis_dual.dtsi"

#include <zephyr/dt-bindings/gpio/gpio.h>

/*
 * XIAO nRF52840:
 *
 * D4 = P0.4
 * D5 = P0.5
 *
 * EC11のEDGE_BOTH割り込みを
 * nRF52840 GPIO SENSEへ回す。
 */
&gpio0 {
    sense-edge-mask = <0x30>;
};

/*
 * D4/D5をEC11専用として使用するため
 * I2C1を無効化。
 */
&i2c1 {
    status = "disabled";
};

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    /*
     * キー用Charlieplex
     *
     * D0 / D1 / D2 = Matrix
     * D3 = Key Wake Interrupt
     */
    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-charlieplex";
        wakeup-source;

        gpios =
            <&xiao_d 0 GPIO_ACTIVE_HIGH>,
            <&xiao_d 1 GPIO_ACTIVE_HIGH>,
            <&xiao_d 2 GPIO_ACTIVE_HIGH>;

        interrupt-gpios =
            <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };
};

/*
 * 右側matrixを後半へ配置。
 */
&default_transform {
    col-offset = <3>;
};

/*
 * 右Encoder
 *
 * D4 = A
 * D5 = B
 */
&left_encoder {
    status = "okay";
};
