#include "charybdis_dual.dtsi"

#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-charlieplex";
        wakeup-source;

        gpios =
            <&xiao_d 0 GPIO_ACTIVE_HIGH>,
            <&xiao_d 1 GPIO_ACTIVE_HIGH>,
            <&xiao_d 2 GPIO_ACTIVE_HIGH>;

        interrupt-gpios =
            <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };
};

/*
 * 右側のlocal column 0～2を
 * 全体matrixのcolumn 3～5として扱う。
 */
&default_transform {
    col-offset = <3>;
};

/*
 * 右側スクロールホイール。
 *
 * charybdis_dual.dtsi にあるEC11定義を
 * 右XIAOでも有効化する。
 *
 * D4 = A
 * D5 = B
 */
&left_encoder {
    status = "okay";
};
