#define ZMK_POINTING_DEFAULT_SCRL_VAL 500

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/*
 * 1ノッチを短時間で処理する。
 *
 * 500 × 2ms / 1000 = 1
 *
 * → 2ms後にスクロール1単位を出力
 * → 3msで終了
 * → 次の出力周期(4ms)まで引っ張らない
 */
&msc {
    trigger-period-ms = <2>;
};

/ {
    behaviors {
        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;

            bindings = <&msc>, <&msc>;

            tap-ms = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A
                &kp B
                &kp C
                &kp D
                &kp E
                &kp F
            >;

            sensor-bindings = <
                &mouse_scrl SCRL_UP SCRL_DOWN
            >;
        };
    };
};
