config SHIELD_CHARYBDIS_DUAL_DONGLE
    def_bool $(shields_list_contains,charybdis_dual_dongle)

config SHIELD_CHARYBDIS_DUAL_LEFT
    def_bool $(shields_list_contains,charybdis_dual_left)

config SHIELD_CHARYBDIS_DUAL_RIGHT
    def_bool $(shields_list_contains,charybdis_dual_right)
